@tailwind base;
@tailwind components;
@tailwind utilities;




.icon{
  font-family: 'Pacifico', cursive;
}

.transform{
  animation:transitionOne 0.75s;
}
.transformOne{
  animation: transitionTwo 0.75s;
}
.transformOneSame{
  animation: transitionTwo  0.75s
}
.bordering1{
  border: 1px solid rgb(157, 157, 157);
}
.bordering2{
  border:1px solid rgb(27, 27, 66);
}
@keyframes transitionOne {
  from{
    opacity: 0;
    transform: scale(0.7);
  }

  to{
    opacity: 1;

}

}
@keyframes transitionTwo{
    from{
      opacity: 0;
      transform: translateX(-100%);
    }
    to{
      opacity: 1;
      transform: translateX(0)
    }
}


